<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Notice">
<insert id="save" parameterType="notice">
    insert into  notice_table(noticeTitle,noticeWriter,noticeContents,noticeCreatedDate,noticeFileName)
       values (#{noticeTitle},#{noticeWriter},#{noticeContents},now(),#{noticeFileName}) </insert>
    <select parameterType="java.util.HashMap" id="pagingList" resultType="notice">
        select *from notice_table order by noticeCreatedDate desc limit #{start},#{limit}
    </select>
    <select id="count" resultType="int">select count(id)from notice_table </select>
    <select parameterType="Long" id="findById" resultType="notice">select * from notice_table where id=#{id}</select>
    <update id="updateHits" parameterType="Long">update  notice_table set noticeHits=noticeHits+1 where id=#{id}</update>
</mapper>